# exercise 1

In [1]:
list = ['Python', 'R', 'C', 'Java']

print(list[0])

Python

In [2]:
print(list[1])

R

In [3]:
print(list[2])

C

In [4]:
print(list[3])

Java

# exercise 2

In [43]:
list_of_ten
for i in range(1,11):
    print(n*i, end =" ")

Enter number: 4
The multiples are:
4 8 12 16 20 24 28 32 36 40

# exercise 3

In [46]:
#a) Print the lowest and highest possible score in a sentence

list = [1,2,3,4,5,6,7,8,9,10]
print("the lowest possible score is:", min(list))
print("the highest possible score is:", max(list))

the lowest possible score is: 1
the highest possible score is: 10

# exercise 4

In [40]:
#Return four integers (separated by spaces) counting the respective number of times that the symbols 'A', 'C', 'G', and 'T' occur in 'DNA'.

from collections import Counter
dna = 'AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC'
a = Counter(s)
print (dna)

AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC

In [42]:
#Return the transcribed RNA string of 'DNA'

dna = 'AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC'

print(dna.replace('T', 'U'))

AGCUUUUCAUUCUGACUGCAACGGGCAAUAUGUCUCUGUGUGGAUUAAAAAAAGAGUGUCUGAUAGCAGC

# exercise 6

In [47]:
#Write a program that takes as input an integer n and calculates the sum of all integers between 1 and n

n = int(input("enter an interger :"))
sum_n = 0
for i in range(1,n+1):
    sum_n += i
print(sum_n)

enter an interger :4
10

# exercise 5

In [7]:
#Multiply all elements of the following list: x = [3,5,23,6,7]

a = 1 # not number zero cause anything mutiple with zero is going to get us zero
x = [3,5,23,6,7]
for i in x:
    a *= i
print(a)

14490

# exercise 7

In [50]:
#Find the second largest number in the following list: x = [44,32,65,77,12,86]

x = [44,32,65,77,12,86]
y = x.sort()

print("The second largest element of the list is:", x[-2])

The second largest element of the list is: 77

# exercise 8

In [104]:
test_string = "klaudio_1995@hotmail.com"
x = test_string.split('@')
x[1]

'hotmail.com'

# exercise 9

In [97]:
#Given the following list, use indexing to grab the word Data Science lst = [1,2,[3,4],[5,[100,200,['Data Science']],23,11],1,7]

lst = [1,2,[3,4],[5,[100,200,['Data Science']],23,11],1,7]
print(lst[3][1][2][0])

Data Science

# exercise 10

In [96]:
#Create a new list without duplicates from the given list: x = [32,3,5,4,4,3,2,6,4,5,6,7,8]

x = [32,3,5,4,4,3,2,6,4,5,6,7,8]
lst = []

for item in range(len(x)):
    if x[item] in lst:
        pass
    else:
        lst.append(x[item])
        
print(lst)

[32, 3, 5, 4, 2, 6, 7, 8]

# exercise 11

In [11]:
#From the two following lists: x = [2,4,5,6,7,1,6,8], y = [3,4,5,6,0,3,9] create a new list with the non common elements.

x = [2,4,5,6,7,1,6,8]
y = [3,4,5,6,0,3,9]

z = set(x).difference(y)
c = set(y).difference(x)
print(z,c)

{1, 2, 7, 8} {0, 3, 9}

# exercise 12

In [50]:
#Write a program that removes a string in a list. Example: x = [4,67,8, 'None', 32, 'Missing', 21]

x = [4,67,8, 'None', 32, 'Missing', 21]

lst = []

for i in x:
    if type(i)== str:
        pass
    else:
        lst.append(i)
        
print(lst)

[4, 67, 8, 32, 21]

In [35]:
#Write a program that removes a string in a list. Example: x = [4,67,8, 'None', 32, 'Missing', 21]

x = [4,67,8, 'None', 32, 'Missing', 21]

a = 'None'
b = 'Missing'

while a and b in x:
    x.remove(a)
    x.remove(b)
    print(x)

[4, 67, 8, 32, 21]

# exercise 13

In [34]:
''''For the string "There is a palm tree on the island", print which words appear within which other words 
(you can use any other sentence)'''


x = "there is a palm tree on the island"
words = x.lower().split()

for word in words:
    for sub_words in words:
        if sub_words in word and sub_words != word:
            print(str(sub_words) + " is in "  + str(word))
        else:
                continue

the is in there
a is in palm
is is in island
a is in island

# exercise 14

In [10]:
#Print all words in a string that are anagram of each other: “How can you listen if you are not silent?”

string = "How can you listen if you are not silent?"

words = string.replace("?","").lower().split()


for word in words:
    for sub_word in words:
        if sorted(sub_word)==sorted(word) and sub_word!=word:
            
            print(str(sub_word) + " is an anagram of "+ str(word))

silent is an anagram of listen
listen is an anagram of silent

# exercise 15

In [5]:
#A list cleaner: create a program that detects if an element in the list is an inner list and then places these elements in the primary list (right where the element was).


lists = [1,2,[3,4],5,6,["data science","laptop"],0,6,7]

a = []
for i in range(len(lists)):
    if type(lists[i])==list:
        a.extend(lists[i])
    else:
        a.append(lists[i])
        
print(a)

[1, 2, 3, 4, 5, 6, 'data science', 'laptop', 0, 6, 7]

In [109]:
x = [3,5,23,6,7]

d = 1
for item in x:
    d = item *d
    
print(d)

14490