# exercise 1

In [6]:
x = ['the island', 'pie', 'alien', 'superman', 'once upon a time in America', 'the godfather']

x.sort(key=len)
print(x)

['pie', 'alien', 'superman', 'the island', 'the godfather', 'once upon a time in America']

# exercise 2

In [10]:
inventory = {

    'gold' : 500,

    'pouch' : ['flint', 'twine', 'gemstone'],

    'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']

}


#Add a key to inventory called 'pocket' and Set the value of 'pocket' to be a list consisting of the strings 'seashell', 'strange berry', and 'lint'.
inventory['pocket'] = ['seashell', 'strange berry', 'lint']
print(inventory)

{'gold': 500, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['xylophone', 'dagger', 'bedroll', 'bread loaf'], 'pocket': ['seashell', 'strange berry', 'lint']}

In [6]:
#.sort()the items in the list stored under the 'backpack' key.


inventory = {

    'gold' : 500,

    'pouch' : ['flint', 'twine', 'gemstone'],

    'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']

}



inventory['backpack'].sort()
          
print(inventory)

{'gold': 500, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['bedroll', 'bread loaf', 'dagger', 'xylophone']}

In [44]:
#Then .remove('dagger') from the list of items stored under the 'backpack' key.

inventory = {

    'gold' : 500,

    'pouch' : ['flint', 'twine', 'gemstone'],

    'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']

}


del inventory['backpack'][1] 

print(inventory)

{'gold': 500, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['xylophone', 'bedroll', 'bread loaf']}

In [49]:
#Add 50 to the number stored under the 'gold' key.


inventory = {

    'gold' : 500,

    'pouch' : ['flint', 'twine', 'gemstone'],

    'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']

}


inventory['gold'] = 500 + 50

print(inventory)

{'gold': 550, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['xylophone', 'dagger', 'bedroll', 'bread loaf']}

# exercise 3

In [57]:
#Given the following dictionary use indexing to grab the word Artificial Intelligence

d = {'k1':[1,2,3,{'tricky':['life','man','machine',{'target':[1,2,3,'Artificial Intelligence']}]}]}

d['k1'][3]['tricky'][3]['target'][3]

'Artificial Intelligence'

# exercise 4

In [65]:
#a.Create a new dictionary called price: with the following content:

price = { 
    
"banana": 4,

"apple": 2,

"orange": 1.5,

"pear": 3
    
}


#b. Create another dictionary with the following contents and add it to the first one:

another_dict_price = {"grapes": 2.5,

"mellons": 3}


price.update(another_dict_price)

print(price)

{'banana': 4, 'apple': 2, 'orange': 1.5, 'pear': 3, 'grapes': 2.5, 'mellons': 3}

In [8]:
#c. How much money would you make if you sold all of your food?

foods = {'banana': 4, 'apple': 2, 'orange': 1.5, 'pear': 3, 'grapes': 2.5, 'mellons': 3}

total = 0
for key in foods:
    total = total + foods[key]
    
print(total)

16.0

In [11]:
#How much money would you make if you sold all of your food in stock?
stock = {

    "banana": 6,

    "apple": 0,

    "orange": 32,

    "pear": 15

}


prices = {

    "banana": 4,

    "apple": 2,

    "orange": 1.5,

    "pear": 3

}


lst = []
for item in stock:
    for price in prices:
        if item==price:
            total_money = stock[item]*prices[price]
            lst.append(total_money)
            
print(lst)
print(sum(lst))

[24, 0, 48.0, 45]
117.0

# exercise 5

In [1]:
lloyd = {

  "name": "Lloyd",

  "homework": [90.0,97.0,75.0,92.0],

  "quizzes": [88.0,40.0,94.0],

  "tests": [75.0,90.0]

}

alice = {

  "name": "Alice",

  "homework": [100.0, 92.0, 98.0, 100.0],

  "quizzes": [82.0, 83.0, 91.0],

  "tests": [89.0, 97.0]

}

tyler = {

  "name": "Tyler",

  "homework": [0.0, 87.0, 75.0, 22.0],

  "quizzes": [0.0, 75.0, 78.0],

  "tests": [100.0, 100.0]
    
}





    
sum(lloyd['homework'])/len(lloyd['homework'])
sum(lloyd['quizzes'])/len(lloyd['quizzes'])

74.0

In [2]:
students = [lloyd, alice, tyler]
student_grades = {"Lloyd":{},"Alice":{},"Tyler":{}}

for student in students: # we loop for every dictionary
    for key in student: # we loop for every category inside each student profile
        if key != 'name':
            # print(key)
            # print(student['name'])
            avg_grade = sum(student[key])/len(student[key])
            # print(avg_grade)
            student_grades[student['name']].update({key:avg_grade}) # we write the average for each category to the
student_grades                                                      # the corresponding kew in the new dictionary

{'Lloyd': {'homework': 88.5, 'quizzes': 74.0, 'tests': 82.5},
 'Alice': {'homework': 97.5, 'quizzes': 85.33333333333333, 'tests': 93.0},
 'Tyler': {'homework': 46.0, 'quizzes': 51.0, 'tests': 100.0}}

In [3]:
for student in student_grades:
    for key in student_grades[student]:
        x = student_grades[student][key] # we get the score of each category
        if x >= 90:
            grade = 'A'
        elif 80 <= x < 90:
            grade = 'B'
        elif 70 <= x < 80:
            grade = 'C'
        elif 60 <= x < 70:
            grade = 'D'
        else:
            grade = 'F'
        student_grades[student][key] = grade # we update the value with the string
student_grades

{'Lloyd': {'homework': 'B', 'quizzes': 'C', 'tests': 'B'},
 'Alice': {'homework': 'A', 'quizzes': 'B', 'tests': 'A'},
 'Tyler': {'homework': 'F', 'quizzes': 'F', 'tests': 'A'}}

In [4]:
alice = {
  "name": "Alice",
  "homework": [100.0, 92.0, 98.0, 100.0],
  "quizzes": [82.0, 83.0, 91.0],
  "tests": [89.0, 97.0]
}

x = alice['homework']
x

[100.0, 92.0, 98.0, 100.0]

In [5]:
for i, element in enumerate(x):
    print(i, element)

0 100.0
1 92.0
2 98.0
3 100.0

In [6]:
def convert_grades(x):
    if x >= 90:
        grade = 'A'
    elif 80 <= x < 90:
        grade = 'B'
    elif 70 <= x < 80:
        grade = 'C'
    elif 60 <= x < 70:
        grade = 'D'
    else:
        grade = 'F'
    return grade

for index, element in enumerate(x):
    print(index, element, convert_grades(element))

0 100.0 A
1 92.0 A
2 98.0 A
3 100.0 A

In [7]:
for i, element in enumerate(x):
    a = convert_grades(element)
    x[i] = a

In [8]:
x

['A', 'A', 'A', 'A']